<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div class="notFound">
    <h1>404 - Page Not Found</h1>
    <p>The page you tried to access does not exist.</p>
    <a href="/">Return</a>
  </div>
</body>
</html>