<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Get Premium</title>
  <!--<link rel="shortcut icon" href="/assets/img/favicon.png"/>-->
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <!--already logged in-->
  <nav><a href="/login"></a>
    <div class="navlink"><a href="/feed">Home</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a id="changePassButton" href="#">Change Password</a></div>
    <div class="navlink"><a href="/profile">My Profile</a></div>
    <div class="navlink"><a href="/premium">Premium</a></div>
  </nav>

  <section id="app">

    <div class="notFound">
      <h1>Your Account, Made Premium</h1>
      <p>Welcome to the next level of linking up with friends! Make your account premium to enjoy several exclusive perks:</p>
      <ul>
        <li>No ads clogging up your view</li>
        <li>A shiny premium badge on your profile</li>
        <li>Extra customization for username colors</li>
      </ul>
      <p>Upgrade your account today for only $4.99 monthly!</p>

      <button id="premiumButton" class="premiumBtn">Click to Pay</button>
    </div>

  </section>

  <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>