/* premium badge next to username */
.premiumIcon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

/* ad sizing */
.ad img {
  max-width: 30%;
  height: auto;
}

/* ad spacing */
.ad {
  margin: 2%;
}

/* pfp styling */
.profilePic {
  width: 150px; /* default size */
  height: 150px;
  object-fit: cover; /* makes sure the image fills the square without stretching */
  border-radius: 50%; /* circle */
}

/* responsive scaling of pfp, different default sizes */
@media (max-width: 768px) {
  .profilePic {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 480px) {
  .profilePic {
    width: 80px;
    height: 80px;
  }
}

/* post pfp styling (in feed) */
.postProfilePic {
  width: 1.5em; /* default size */
  height: 1.5em;
  object-fit: cover; /* makes sure the image fills the square without stretching */
  border-radius: 50%; /* circle */
  vertical-align: middle;
}

/* username color for premium */
.usernameColored {
  color: var(--username-color, #000000);
}
